@using EventWebMvc

@{
    ViewBag.Title = "Index";
}


@section Meta{

}

@section Script{
<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();

    /* Executed when the APIs finish loading */
    function render() {

        // Additional params
        var additionalParams = {
            'theme': 'dark'
        };

        gapi.signin.render('myButton', additionalParams);
    }

    function signinCallback(authResult) {
        if (authResult['status']['signed_in']) {
            // Update the app to reflect a signed in user
            // Hide the sign-in button now that the user is authorized, for example:
            document.getElementById('signinButton').setAttribute('style', 'display: none');

            var idToken = gapi.auth.unsafeUnpackIdToken(authResult);
            if (idToken) {
                var accessToken = authResult.access_token;
                var googleIdentifier = idToken['sub'];
                if (accessToken && googleIdentifier) {
                    // Call back to your home server to update the association
                    try {
                        console.log("accessToken : " + accessToken);
                        console.log("googleIdentifier : " + googleIdentifier);
                    } catch (e) { }
                }
            }

        } else {
            // Update the app to reflect a signed out user
            // Possible error values:
            //   "user_signed_out" - User is signed-out
            //   "access_denied" - User denied access to your app
            //   "immediate_failed" - Could not automatically log in the user

            try { console.log('Sign-in state: ' + authResult['error']); } catch (e) { }
        }
    }
</script>
}
<h2>Index</h2>

<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="515799617485-uffm710aflmms00qvm52vq6s572ark6u.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span>
<br />
@functions{    
    enum testEnum
	{
		a ,
		b ,
		c ,
		d 
	}
      
}
@Html.DropDownList("drpTest", EnumHelper.ToSelectList(testEnum.a))



