<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebBizLibrary.Properties.Settings.aspnet_EventWebMvc_20131011161511ConnectionString"
            connectionString="Data Source=JEONGJAECHAL-PC\SQLEXPRESS;Initial Catalog=aspnet-EventWebMvc-20131011161511;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>